<h3>Add a new event</h3>
<form action="/event/new/submit" method="POST">
  Event Name:
	<input type="text" name="event[name]" placeholder="Enter Name of Event Here" />
	Event Date:
	<input type="date" name="event[date]" placeholder="mm/dd/yyyy" />
	<input type="submit" value="Submit" />
</form>