<h3>The list of events</h3>
<table>
  <tr>
  	<th>Name</th>
  	<th>Date</th>
  </tr>
  <% i = 0 %>
  <% @events.each do |e| %>
	<tr>
	  <td><%= e.name %></td>
      <td><%= e.date %></td>
	</tr>
  <% end %>
</table>
<a href="/">Go Back</a>