<h3>Welcome to the event registration page!</h3>
<a href="/persons">See the list of people</a><br>
<a href="/person/new">Add a new person</a><br>
<br>
<a href="/events">See the list of events</a><br>
<a href="/event/new">Add a new event</a><br>
<br>
<a href="/registrations">See the list of registrations</a><br>
<a href="/registration/new">Add a new registration</a><br>