<h3>The list of people</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Zipcode</th>
  </tr>
  <% i = 0 %>
  <% @people.each do |pers| %>
	<tr>
		<td><%= pers.name %></td>
    <td><%= pers.birthday %></td>
    <td><%= pers.gender %></td>
    <td><%= pers.zipcode %></td>
	</tr>
  <% end %>
</table>
<a href="/">Go Back</a>