<h3>The list of registrations</h3>
<table>
	<tr>
    <th>Name</th>
    <th>Event</th>
    <th>Going?</th>
  </tr>
  <% i = 0 %>
  <% @registrations.each do |r| %>
	<tr>
    <td><%= @people.find_by_id(r.person_id).name %></td>
    <td><%= @events.find_by_id(r.event_id).name %></td>  
    <td><%= r.status %></td>
	</tr>
  <% end %>
</table>
<a href="/">Go Back</a>